@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.pagination-container {
  padding: 20px 0px 2px 0px !important;
}

.glow-button {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-button:before {
  content: '';
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-button:active {
  color: #000;
}

.glow-button:active:after {
  background: transparent;
}

.glow-button:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--chakra-colors-bg);
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
    opacity: 0;
  }
  45% {
    background-position: 400% 0;
    opacity: 0;
  }
  50% {
    background-position: 400% 0;
    opacity: 1;
  }
  70% {
    background-position: 0 0;
    opacity: 1;
  }
  75% {
    background-position: 0 0;
    opacity: 0;
  }
  100% {
    background-position: 0 0;
    opacity: 0;
  }
}

.chakra-collapse {
  overflow: visible !important;
}

.text-cell {
  border-bottom: 1px solid var(--chakra-colors-bg);
  padding: 3px;
}

.embla {
  width: 95%;
  margin: auto;
  overflow: hidden;
  margin-top: -28px;
  margin-bottom: 16px;
}

.embla__container {
  display: flex;
  align-items: center;
  backface-visibility: hidden;
  touch-action: pan-y;
  width: 100%;
}

.embla__slide {
  width: 95%;
  flex: 0 0 100%;
}

.theme-gradient-text {
  background: linear-gradient(
    to right,
    var(--chakra-colors-purple) 10%,
    var(--chakra-colors-cyan) 50%,
    var(--chakra-colors-cyan) 100%
  );
  -webkit-background-clip: text;
  color: transparent;
}

.theme-gradient {
  background: linear-gradient(
    to right,
    rgba(111, 79, 242, 0.3) 0%,
    rgba(97, 252, 174, 0.3) 100%
  );
}

td,
th {
  border-color: var(--chakra-colors-bg) !important;
  vertical-align: top;
}

th {
  color: var(--chakra-colors-color2Text) !important;
}

.orange {
  color: orange;
}
